html {
	scroll-behavior: smooth;
}

@font-face {
    font-family: "Simplifica";
    src: url("Font/Simplifica.ttf") format("truetype");
}

body {
	margin:0;
	font-family: 'Simplifica', cursive;
}

#top {
	background-image: url("Image/Landing.jpeg");
	background-attachment: fixed;
	opacity: 0.5;
	width:100%;
	height:100px;
	transform: rotate(-5deg);
	background-size: 80%;
	position: absolute;
  	}

 #right {
	background-image: url("Image/Landing.jpeg");
	background-attachment: fixed;
	opacity: 0.5;
	width:100%;
	height:100px;
	transform: rotate(-0deg);
	background-size: 80%;
	position: absolute;
  	}
 
.imgbox {
   display: grid;
   height: 100vh;
   background-image: url("Image/Landing.jpeg");
   background-size: 80%;
   background-position: center;
   display: flex;
   flex-direction: column;
   background-attachment: fixed;
  }

#landingtext {
	width:40%;
	margin-left: auto;
	margin-right: auto;
	margin-top:17%;
	font-family: 'Simplifica', cursive;
	font-size:5em;
	font-weight: bold;
	display:block;
	background-color: transparent;
  	text-decoration: none;
  	text-align: center;
  	color:black;
}
button:focus {outline:0;}

#topico {
	padding-top:30px;
	width: 4%;
    margin: 0 auto;
    margin-top:100px;
    display: block;
}
#icon {
	width: 4%;
    margin-left: auto;
    margin-right:543px;
    margin-top: 39vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    transform: rotate(-43deg);
    opacity: 0;
}

.fade-in {
	animation-delay: 2s;
	animation: fadeIn 3s ease-in 1 forwards;
}
.fade-in-slow {

	animation: fadeIn 5s ease-in 1 forwards;
}
.fade-out {
	animation:fadeOut 2s ease-out 1 forwards;
}

nav{
	width:100%;
	margin-top:20px; 	
}
nav ul{
	background-color:white;
	width:60%;
	margin:0 auto;
	text-align:center;
}

nav ul .item{
	list-style: none;
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	font-size:30px;
	text-transform: uppercase;
	margin-bottom:0;
}
nav ul li a {
	text-decoration: none;
	color:black;
}

#neu:hover~.hrs {
	margin-left:23.1%;
	width:380px;
}
#vr:hover~.hrs {
	margin-left:71.0%;
	width:59.5px;
}
#news:hover~.hrs {
	margin-left:83%;
	width:120px;
}

.hrs{
  list-style: none;
  clear:both;
  width: 120px;
  margin-top:0;
  margin-bottom:0;
  margin-left: 4.0%;
  border: 2px solid #FF5A5F;
  transition: .3s ease-in-out;
}
nav>hr{
	width:60%;
	height: 1px;
    border: 3px solid black;
}

#intr {
   background-color:white;
   width:70%;
   margin:50px auto;
   border:5px solid black;
  }
p {
	font-family: 'Simplifica', cursive;
	text-indent: 50px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left:8px;
	margin-right:8px;
	font-size: 30px;
	font-weight: 600;
}


a:active {
	color:#FF5A5F;
}





